{% extends 'base.html.twig' %}

{% block body %}
<h1>
  Bienvenue dans ce blog !
</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ullam rerum,
  voluptas minus perspiciatis, eaque ad aperiam a commodi modi cum. Veniam,
  quisquam nihil, voluptatum dolorem accusamus esse fuga autem quidem tempore
  dicta et, est assumenda. Possimus rem dolore quod.
</p>
<p>
  Possimus, suscipit ex dolor placeat assumenda odit molestiae non excepturi.
  Minima officia, ut voluptatem rem veritatis doloribus neque, molestias est
  distinctio totam perferendis atque error quisquam ad cumque. Quaerat assumenda
  libero nesciunt atque deserunt beatae saepe dignissimos rem explicabo nihil!
</p>
{% endblock %}